services:
    localkit:
        container_name: Localkit
        ports:
            - 8080:8080
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            localkit:

        volumes:
            - ./:/var/www/html/
        environment:
            - APP_TIMEZONE=Europe/Berlin
            - DB_CONNECTION=sqlite
            - DB_DATABASE=/var/www/html/storage/localkit.sqlite
            - LOCALKIT_GO2RTC_ENABLE=true
            - PETKIT_LOCAL_IP=10.10.46.105
            - LOCALKIT_BROKER_HOST=10.10.46.101
            - LOCALKIT_BROKER_PORT=443
            - HOMEASSISTANT_PORT=1883
            - HOMEASSISTANT_HOST=10.10.50.10
            - HOMEASSISTANT_CLIENT_ID=localkit
            - BYPASS_AUTH=true #Recommended to disable on first "install"
            - BYPASS_AUTH_ID=true
        restart: always

    localkit-broker:
        image: ghcr.io/dwyschka/localkit-broker:main
        container_name: localkit-broker
        networks:
            localkit:
        restart: always
        environment:
            - LOCALKIT=http://localkit

volumes:
    localkit-storage:
    localkit-logs:

networks:
    localkit:
